* {
  box-sizing: border-box;
  border-radius: 5px;
}

header {

  border-radius: 10px;
}

h1 {
  padding-bottom: 20px;

}

/* #about-btn, #portfolio-btn, #contact-btn {
  font-size: 20px;
  color:white;
  padding-left: 2px;
  position: relative;
  left: 1100px;
  padding-bottom: 60px;
}

#about-btn:hover, #portfolio-btn:hover, #contact-btn:hover {
  color: skyblue;
  font-weight: bold;
} */
/* Highlight Header */
span {
  background-color: skyblue;
  padding: 30px 50px;
  padding-bottom: 70px;
  padding-top: 5px;
  font-size: 70px;
  margin: 200px;
  text-shadow: 2px 2px black;
}

/* Overlay page */
body {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* About Me */
h2 {
  padding: 15px;
  margin-left: 120px;
  font-size: 44px;
  color: skyblue;
  font-weight: bolder;
  text-shadow: 2px 4px black;
  padding-top: 20px;
}

.group-btn {
  padding: 10px;
  position: relative;
  left: 1100px;
}
a {
  text-decoration-color: black;
  font-size: 10px;
}
button :hover {
  padding: 7px;
  color: skyblue;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px ;
}
.button:hover {
  background-color: skyblue;
}
/* footer highlight  */
hr {
  background-color: skyblue;
  padding-bottom: 10px;
  margin-bottom: auto;
  width: 100%;
}

.bottom {
  background: grey;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.background-container {
  background-color: #f0f0f0;
  width: 75%;
  height: 650px;
  margin-left: 100px;
  border: 2px solid gray;
  overflow: auto;
}

.container {
  padding-left: 10px;
  //margin-bottom: 20px;
  margin-left: 130px;
  padding: 20px;
  width: 980px;
  height: 550px;
  border: 3px solid gray;
  background-color: white;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Contact HTML Sheet
---------------------------------------------------------------------------*/
h4 {
  //font-size: 32px;
}

.bottom-footer {
  margin-left: 150px;
  background-color: skyblue;
  padding-bottom: 10px;
  margin-bottom: auto;
  width: 61%;
}

.header-line {
  width: 900px;
  position: absolute;
  left: 40px;
  border-bottom: 3px solid gray;
  margin-bottom: 70px;
}

.bottom-contact {
  margin-left: 150px;
  background: grey;
  width: 61%;
  padding: 20px 10px;
  text-align: center;
}

.form-fullname {
  padding: 20px;
  left: 40px;
}

.form-email {
  padding: 20px;
  left: 40px;
}

.form-message {
  padding: 20px;
  left: 20px;
  padding-bottom: 40px;
}

.submit-btn {
  padding: 7px;
  left: 400px;
  position: relative;
  background-color: skyblue;
  border: 2px solid black;
}

.submit-btn:hover {
  color: red;
}

#fullname {
  width: 90%;
  height: 40px;
}

#email {
  width: 90%;
  height: 40px;
}

textarea {
  resize: none;
  width: 90%;
  height: 150px;
}

.contact_body {
  width: 980px;
  height: 650px;
  background: #f0f0f0;
  border-radius: 10px;
  position: relative;
  left: 150px;
}

/* Profolio HTML page
---------------------------------------------------------------------------*/
/* <hr class = "striped-border"> adds grey line diving Title */
.striped-border {
  margin-left: 0px;
  background-color: gray;
  padding-bottom: 1px;
  margin-bottom: 5px;
  width: 100%;
}

.header-line2 {
  width: 1000px;
  position: relative;
  left: 40px;
  border-bottom: 3px solid gray;
  margin-bottom: 30px;
}

.ny {
  padding: 20px;
  background-color: darkgrey;
  position: fixed;
  left: 150px;
  border: 3px solid black;
}

.higgins {
  padding: 20px;
  background-color: darkgrey;
  position: fixed;
  right: 600px;
  border: 3px solid black;
}

.family {
  padding: 20px;
  background-color: darkgrey;
  left: 150px;
  position: fixed;
  bottom: 120px;
  border: 3px solid black;
}

.GE_Digital {
  padding: 20px;
  background-color: darkgrey;
  position: fixed;
  bottom: 115px;
  right: 625px;
  border: 3px solid black;
}
